<div class="home-wrapper">
  <nav class="navbar">
    <div class="container2 nav-wrapper">
      <div class="logo">
        <img src="assets/logo.png" alt="Logo" />
      </div>
      <div class="nav-links">
        <a href="">How it Works</a>
        <button class="btn-primary" (click)="goToAuth()">Log In</button>
      </div>
    </div>
  </nav>

  <header class="hero">
    <div class="container hero-grid">
      <div class="hero-content">
        <span class="badge">0% Interest Options</span>
        <h1>
          Upgrade Your Home. <span class="highlight">Pay at Your Pace.</span>
        </h1>
        <p>
          Premium appliances delivered today. Small monthly payments that fit
          your budget.
        </p>
        <div class="cta-group">
          <button class="btn-primary" (click)="goToAuth()">Apply Now</button>
          <!-- <button class="btn-outline">How it Works</button> -->
        </div>
      </div>
      <div class="hero-visual">
        <img
          src="https://images.unsplash.com/photo-1556911220-e15b29be8c8f?auto=format&fit=crop&w=800&q=80"
          alt="Modern Kitchen"
        />
      </div>
    </div>
  </header>
</div>
